.elon{
    border:15px;
    border-radius: 2px;
    width:100px;
    height:100px;
    background-color: black;
    padding:20px,20px,20px,20px;
}
body{
    background-image:linear-gradient(to right,red,purple,blue)
}